@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'transition.scss';

html {
  font-family: 'Cairo';
  // font-family: 'Almarai';
}

// Auth
.img-bg {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    width: 400px;
    height: 400px;
    z-index: -1;
  background-color: #fefefe;
  border-radius: 50%;
  /* animation-name: move; */
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.card {
  @apply bg-white p-4
}

@keyframes move {
  0% {
    scale: 1;
    left: 2rem;
    top: 2rem;
  }
  50% {
    scale: 1.5;
    left: 5rem;
    top: 5rem;
  }
  100% {
    scale: 1;
    left: 2rem;
    top: 2rem;
  }
}

// Scroll

/* Define the scrollbar style */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Define the thumb style */
*::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}

/* Define the track style */
*::-webkit-scrollbar-track {
  background-color: #ddd;
  border: 1px solid #ccc;
}

/* Define the button style when being hovered over */
*::-webkit-scrollbar-button:hover {
  background-color: #999999;
}

// Transitions
.v-enter-active,
.v-leave-active {
  
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

// Profile images
.profile-bg {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  @apply bg-no-repeat bg-center bg-cover;
}